nav{
    
}

#menu li{
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-style: italic;
}
#menu li a{
    
    text-decoration: none;
    color: black;
    
}
body{
background-image: url(https://zh.rbsdirect.com.br/imagesrc/23368877.jpg?w=700);
background-size: cover;
}
#menu{

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    background-color: #ace7ff;
    grid-column: 1/4;
   
}
