
.galeria {
    display: flex;
    flex-wrap: wrap;
    
  }
  body{
    background-color: #3d7692;
  }
 
  
  .galeria img {
    width: 30%;
    height: auto;
    margin: 10px;
  }

#submenu {
    display: grid;
text-align: center;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    
}
#submenu h1{
    color:white;
    grid-column: 3;
    
}

  

